#editor_container.manager_pane
  #editor_tabs.tab_bar.unselectable
  .navbar.unselectable
    .button-navbar
      ul#editor_toolbar.nav.navbar-nav.unselectable(style='height: 28px;')
  #editor
  #spreadsheet
  #editor_empty.empty_panel
    .empty_icon
      i.fa.fa-edit(style='margin-left: 10px;')
    .empty_message
      | No open files
    a.empty_newtab.btn.btn-empty-panel(href='#')
      | Open File
