#plot_window.manager_pane.unselectable
  #figure_tabs.tab_bar.unselectable
  .navbar.unselectable
    .button-navbar
      ul#plot_button_toolbar.nav.navbar-nav.unselectable
  #plot_container
  #plot_empty.empty_panel
    .empty_icon
      i.fa.fa-bar-chart-o
    .empty_message
      | No open plots
